
header {
	padding-bottom: 100px;
	margin-top: 200px;
	position: relative;
	font-size: 40px;
	color: #FFF;
	font-family: Ostrich Sans;
}

#info{
	color: #0084B4;
	font-family: Arial;
}

#goodbye {
	height: 74px;
	font-size: 60px;
	color: #c0deed;
	font-family: Arial;	
}
#goodbye2 {
	height: 74px;
	font-size: 40px;
	color: #c0deed;
	font-family: Arial;	
}


#content-wrapper {
	padding-left: 80px;
	padding-right: 80px;
	padding-bottom: 0px;
	background: #0084B4;
	height: 520px;
	width: 1050px;
	margin-right: auto;
	margin-left: auto;
}


section {
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 35px 10px 55px 10px;
	width: 400px;
	height: 260px;
	background: #c0deed;
	border-radius: 15px;
	
}

.section {
	display: inline-block;
	font-family: Ostrich Sans;
	color: #0084B4;
	font-size: 30px;
}

